@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-noto-sans-kr), "Apple SD Gothic Neo", sans-serif;
}

body {
  font-family: var(--font-sans);
  word-break: keep-all; /* 한글 단어가 어색하게 잘리지 않게 */
}
